{% extends 'base.html' %}

{% block content %}
<h2>User Profile</h2>
    {% if user.profile.category == "member" %}
    <p>First Name: {{ user.profile.first_name }}</p>
    <p>Last Name: {{ user.profile.last_name }}</p>
    <p>Legal Name: {{ user.profile.legal_name }}</p>
    <p>Playa Name: {{ user.profile.playa_name }}</p>
    <p>Phone Number: {{ user.profile.phone_number }}</p>
    <p>Email: {{ user.profile.email }}</p>
    <p>Hash ID: {{ user.profile.hash_id }}</p>
    <p>Camp Score: {{ user.profile.camp_score }}</p>
    <p>Work Unit: {{ user.profile.work_unit }}</p>
    <p>Work Unit Average: {{ user.profile.work_unit_average }}</p>
    <p>Staging Date: {{ user.profile.staging_date }}</p>
    <p>Arrival Date: {{ user.profile.arrival_date }}</p>
    <p>Departure Date: {{ user.profile.departure_date }}</p>
    <p>Departure Staging Date: {{ user.profile.departure_staging_date }}</p>
    <p>Arrival Staging Location: {{ user.profile.arrival_staging_location }}</p>
    <p>Departure Staging Location: {{ user.profile.departure_staging_location }}</p>
    {% endif %}
{% endblock %}

{% if user.profile.category == 'member' %}
<h3>Welcome, Member!</h3>

{% if user.profile.participate %}
<p>You are participating in the event!</p>
{% else %}
<p>You are not participating in the event.</p>
{% endif %}

{% elif user.profile.category == 'administrator' %}
<h3>Welcome, Administrator!</h3>

{% if user.profile.participate %}
<p>You are participating in the event as an administrator!</p>
{% else %}
<p>You are not participating in the event as an administrator.</p>
{% endif %}

{% else %}
<h3>No Category Assigned</h3>
<!-- Show content for users without a category -->
{% endif %}