{% extends 'base.html' %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }} {{ form.errors }}
</div>
{% endfor %}
</div>
{% endif %}


{% block title %}
Register - {{ block.super }}
{% endblock %}

{% block content %}
<h1>Register a New Account</h1>
<form method="POST" action="{% url 'accounts:register' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
</form>
{% endblock %}