body {
    background-color: aliceblue;

}
.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.input-field {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #007bff;
}

#content {

}


#horz-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#horz-list ul li {
    display: inline;
}

#horz-list ul li a {
    text-decoration: none;
    padding: 0.2em 1.1em;
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    margin: 0 0 0 -6px;
}

#horz-list ul li:last-child a {
    border: none;
}

#horz-list ul li a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #1a1a1a;
}