{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sc_style.css' %}">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <header>
        {% block header %}
        {% include 'navigation.html' %}
        {% endblock %}
    </header>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
    </div>
    {% endfor %}
    </div>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% include 'navigation.html' %}
        <!-- Header content here -->
        {% block footer %}
        {% endblock %}
    </footer>

    <!-- Common JavaScript files -->
</body>

</html>