{% extends 'base.html' %}

{% block content %}
<h1>Swing City - A Burning Man Theme Camp</h1>
<p>A work in progress...</p>
<ul>
    <li><a href="{% url 'accounts:register' %}">Register</a></li>
    <li><a href="{% url 'accounts:login' %}">Login</a></li>
    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
    <li><a href="{% url 'accounts:admin_dashboard' %}">Admin</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'start_interview' %}">Start Interview</a></li>
    {% endif %}
</ul>
{% endblock %}